name: Test of Run Command with CASL2 Sample Files

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test_run:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    name: Run Tests with Firefox and Chrome

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      # Python 3.9をインストールする
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      # node.js latest をインストールする
      - name: Use Node.js latest
        uses: actions/setup-node@v4
        with:
          node-version: "latest"
      - name: Install dependencies
        run: npm ci

      # ubuntu, macosのときはFirefoxの最新版をインストールする
      - name: Set up Firefox on Ubuntu or MacOS
        uses: browser-actions/setup-firefox@v1
        if: matrix.os != 'windows-latest'
        with:
          firefox-version: "latest"

      # windowsのときはFirefoxの84.0をインストールする
      # windowsではfirefox-version: "latest"をサポートしていないことが報告されています
      # https://github.com/browser-actions/setup-firefox/issues/252
      - name: Set up Firefox on Windows
        uses: browser-actions/setup-firefox@v1
        if: matrix.os == 'windows-latest'
        with:
          firefox-version: "84.0"

      # Chromeのstable版をインストールする
      - name: Set up Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      # テストの依存モジュールをインストールする
      - name: Set up Test Dependency modules
        run: python -m pip install -r requirements.txt
        working-directory: ./test

      # pytestを実行する
      - name: Run Test
        run: python -m pytest -v --junit-xml result-${{ matrix.os }}.xml
        working-directory: ./test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # テスト結果を出力する
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always() # always run even if the previous step fails
        with:
          check_name: Result Summary of ${{ matrix.os }}
          report_paths: "test/*.xml"
